<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">


	<listener>
		<listener-class>unlp.info.ingenieriaii.web.AppServlet</listener-class>
	</listener>

	<servlet>
		<servlet-name>BuscarTipoProductoServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.BuscarTipoProductoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AgregarTipoProductoServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.AgregarTipoProductoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificarTipoProductoServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.ModificarTipoProductoServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>BuscarMarcaServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.BuscarMarcaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AgregarMarcaServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.AgregarMarcaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificarMarcaServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.ModificarMarcaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AgregarProductoServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.AgregarProductoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscarProductoServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.BuscarProductoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificarProductoServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.ModificarProductoServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>BuscarOrdenServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.BuscarOrdenServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CobrarOrdenServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.CobrarOrdenServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GenerarOrdenServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.GenerarOrdenServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteProdServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.ReporteProdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AgregarClienteServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.AgregarClienteServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ReportePBMinServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.ReportePBMinServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ProdInactivosServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.ProdInactivosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProdEnVentaServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.ProdEnVentaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscarClienteServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.BuscarClienteServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ModificarClienteServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.ModificarClienteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.ReporteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacturaServlet</servlet-name>
		<servlet-class>unlp.info.ingenieriaii.web.FacturaServlet</servlet-class>
	</servlet>		
 


	<servlet-mapping>
		<servlet-name>BuscarTipoProductoServlet</servlet-name>
		<url-pattern>/paginas/buscarTipoProducto.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarTipoProductoServlet</servlet-name>
		<url-pattern>/paginas/agregarTipoProducto.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarTipoProductoServlet</servlet-name>
		<url-pattern>/paginas/modificarTipoProducto.jsp</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>BuscarMarcaServlet</servlet-name>
		<url-pattern>/paginas/buscarMarca.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarMarcaServlet</servlet-name>
		<url-pattern>/paginas/agregarMarca.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarMarcaServlet</servlet-name>
		<url-pattern>/paginas/modificarMarca.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarProductoServlet</servlet-name>
		<url-pattern>/paginas/agregarProducto.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarProductoServlet</servlet-name>
		<url-pattern>/paginas/buscarProducto.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarProductoServlet</servlet-name>
		<url-pattern>/paginas/modificarProducto.jsp</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>BuscarOrdenServlet</servlet-name>
		<url-pattern>/paginas/buscarOrden.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CobrarOrdenServlet</servlet-name>
		<url-pattern>/paginas/cobrarOrden.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerarOrdenServlet</servlet-name>
		<url-pattern>/paginas/generarOrden.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteProdServlet</servlet-name>
		<url-pattern>/paginas/reporteProductos.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarClienteServlet</servlet-name>
		<url-pattern>/paginas/agregarCliente.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarClienteServlet</servlet-name>
		<url-pattern>/paginas/buscarCliente.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarClienteServlet</servlet-name>
		<url-pattern>/paginas/modificarCliente.jsp</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>ReportePBMinServlet</servlet-name>
		<url-pattern>/paginas/reporteBajoStock.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdInactivosServlet</servlet-name>
		<url-pattern>/paginas/productosInactivos.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdInactivosServlet</servlet-name>
		<url-pattern>/paginas/productosInactivos.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdEnVentaServlet</servlet-name>
		<url-pattern>/paginas/productosEnVenta.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteServlet</servlet-name>
		<url-pattern>/paginas/report.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FacturaServlet</servlet-name>
		<url-pattern>/paginas/factura.jsp</url-pattern>
	</servlet-mapping>
	
</web-app>